force-app/main/default/flows/Maintenance_Day.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <environments>Default</environments>
    <formulas>
        <name>Subject_Value</name>
        <dataType>String</dataType>
        <expression>&quot;Maintenance for &quot; + {!Get_Maintenence_Aircrafts.Name} + &quot; for &quot; + TEXT({!Get_Maintenence_Aircrafts.Next_Scheduled_Maintenance__c})</expression>
    </formulas>
    <formulas>
        <name>TwodaysforMaintenance</name>
        <dataType>Date</dataType>
        <expression>TODAY()+2</expression>
    </formulas>
    <interviewLabel>Maintenance Day {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Maintenance Day</label>
    <loops>
        <name>Get_Maintenence_Aircrafts</name>
        <label>Get Maintenence Aircrafts</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Aircraft_Records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>maintenance</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>maintenance</name>
        <label>maintenance</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Maintenence_Aircrafts</targetReference>
        </connector>
        <inputAssignments>
            <field>Aircraft__c</field>
            <value>
                <elementReference>Get_Maintenence_Aircrafts.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Maintenance_Date__c</field>
            <value>
                <elementReference>Get_Maintenence_Aircrafts.Next_Scheduled_Maintenance__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Scheduled</stringValue>
            </value>
        </inputAssignments>
        <object>Maintenance__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Aircraft_Records</name>
        <label>Aircraft Records</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Maintenence_Aircrafts</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Next_Scheduled_Maintenance__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>TwodaysforMaintenance</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Aircraft__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Aircraft_Records</targetReference>
        </connector>
        <object>Aircraft__c</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2025-08-30</startDate>
            <startTime>14:30:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
</Flow>
